@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-pagination-color: #ff163c !important;
  --swiper-pagination-bullet-inactive-color: grey !important;
}

* {
  /* outline: solid 1px red; */
}

body {
  background-image: linear-gradient(to bottom, #27272a, #09090b);
  color: white;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}
